<!DOCTYPE HTML>
<html lang="en">
<head>
	<link rel="icon" href="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/blue_repicthousebase_1484336386-1.png" type="image/x-icon">
	<link rel="stylesheet" href="/assets/homeStyle.css">  
	<meta charest="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartments Guide</title>

  <!-- box icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">   
</head>   
<body>
<!-- navbar-->
	<header> 
		<div class="nav container">
		    <!--logo-->
			<a href=""class="logo"><i class='bx bx-home'></i>Apartment Guide</a>
			<!--Menu Icon-->
			<input type="checkbox" name="" id="menu">
			<label for="menu"><i class='bx bx-menu' id="menu-icon" ></i></label>
			<!--Nav List-->
			<ul class="navbar">
				<li><a href="">Home</a> </li>
				<% unless @session %>
					<li><a href="/apartmentsView">Apartments</a></li>
				<% end %>
				<li><a href="#about">About Us</a></li>

			</ul>

			<!--Log In Button-->
			<% if @session %>
      			<a href="/logIn" class="btn">Log In </a>
			<% else %>
				<a href="/logOut" class="btn">Log Out </a>
      		<% end %>
		</div>
	</header> 
	<!-- Home -->
	<section class="home container" id="home">
			<div class="home-text">
			<h1 style="color:white;">Find Your Next <br>Perfect Place To <br>Live. </h1>
			<% if @session %>
				<a href="/signUp" class="btn">Sign Up</a>
			<% else  %>
				 <div class="s003">
      <form action='search' >
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select name="filter" class="select-box">
                <option value="*"> Filter</option>
                <option value ="price">Price</option>
                <option value ="numOfRooms">Rooms Num</option>
                <option value ="numOfBathrooms">Bath Num</option>
                <option value ="location">Location</option>
                <option value ="area">Area</option>
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input name="search" type="text" placeholder="Enter Keywords?" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>			
    <% end %>
		</div>
	</section>
	<!-- About -->
	<section class="about container" id="about">
			<div class="about-ing">
				<img src="\assets\2.jpg" alt=""> 	
			</div>
			<div class="about-text">
				<span>About Us</span>
				<h3>We Provide The Best Property For You !</h3>
				<p>Book your new home from home !</p>
				<p>derecognitionSearch fast, search smart:<p>
                <p>Browse hundreds of properties in your city of choice.</p>
				<p>Save your favorites and set up search alerts so you don't miss your dream place!</p>
			</div>
	</section>
</body>
</html>