<!DOCTYPE HTML>
<html lang="en">
<head>
	<link rel="icon" href="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/blue_repicthousebase_1484336386-1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />0
	<link rel="stylesheet" href="/assets/homeStyle.css">  
	<meta charest="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartments Guide</title>

  <!-- box icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">   
</head>   
<body>
<!-- navbar-->
	<header> 
		<div class="nav container">
		    <!--logo-->
			<a href=""class="logo"><i class='bx bx-home'></i>Apartment Guide</a>
			<!--Menu Icon-->
			<input type="checkbox" name="" id="menu">
			<label for="menu"><i class='bx bx-menu' id="menu-icon" ></i></label>
			<!--Nav List-->
			<ul class="navbar">
				<li><a href="">Home</a> </li>
				<% unless @session %>
					<li><a href="/apartmentsView">Apartments</a></li>
				<% end %>
				<li><a href="#about">About Us</a></li>

			</ul>

			<!--Log In Button-->
			<% if @session %>
      			<a href="/logIn" class="btn">Log In </a>						
      		<% end %>
		</div>
	</header> 
	<!-- Home -->
	<section class="home container" id="home">
			<div class="home-text">
			<h1 style="color:white;">Find Your Next <br>Perfect Place To <br>Live. </h1>
			<% if @session %>
				<a href="/signUp" class="btn">Sign Up</a>
			<%# <% else %> 
				<%# <form style= "display: flex; align-items: center;"> %>
  					<%# <input type="text" placeholder="Search..." style="border: none; padding: 8px; border-radius: 10px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); flex: 1;"> %>
  					<%# <button type="submit" style="background-color: transparent; border: none; padding: 0; margin-left: 8px; cursor: pointer;" class="icon-button"><i class="fas fa-search" style="font-size: 20px; color: #555;" ></i></button> %>
				<%# </form> %>
			<% end %>
		</div>
	</section>
	<!-- About -->
	<section class="about container" id="about">
			<div class="about-ing">
				<img src="\assets\2.jpg" alt=""> 	
			</div>
			<div class="about-text">
				<span>About Us</span>
				<h3>We Provide The Best Property For You !</h3>
				<p>Book your new home from home !</p>
				<p>derecognitionSearch fast, search smart:<p>
                <p>Browse hundreds of properties in your city of choice.</p>
				<p>Save your favorites and set up search alerts so you don't miss your dream place!</p>
				<!-- <a href="#" class="btn">Learn More</a> -->
			</div>
	</section>
</body>
</html>